.live-layout-container {
  display: flex;
  flex-direction: column;
  align-items:end;
  gap: 1rem;
  margin-right: 3vw;
  margin-top: 2vw;
  
  
}

.live-title {
  margin: 0 0 .30rem auto;
  padding: .25rem .75rem;
  font-family: "AraHamah1964", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-align: right;
  color: #000;
  

}

.live-video-wrapper {
  position: relative;
  width: 565px;  /* عرض ثابت */
  height: 321px; /* ارتفاع ثابت */
  
}

.live-video-wrapper iframe {
  width: 565px;  /* نفس حجم الثابت */
  height: 321px;
  border: 8px;
  
}

.live-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 565px;  
  height: 321px;
  border: 2px solid #ccc; /* لون البوردير */
  border-radius: 8px;
  pointer-events: none; /* حتى لا يمنع التفاعل مع الفيديو */
  
}
