html, body, #root {
  height: 100%;
  min-height: 100dvh;   /* يغطي طول الشاشة على الموبايل كمان */
}

body {
  margin: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(246, 243, 238, 1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
